<div class="user-card">

  <div class="card-header">

    <div class="card__title">
      <span class="card__number">2</span>
      <span class="card__detail">آپلود مستندات</span>
    </div>
    
    <span class="card__date">1402/7/3</span>
  </div>


  <div class="card__data">

    <h2 class="data__heading">درخواست عضویت</h2>
    <p class="data__tag">شناسه درخواست 123456#</p>

      <div class="user__details">
        <div class="data__title">
          <div class="data__icon">
            <img src="https://randomuser.me/api/portraits/men/36.jpg" alt=user-icon-image">
          </div>
          <span class="data__detail">محمد محمدی </span>
        </div>

        <a href="#" class="data__req">مشاهده درخواست</a>
      </div>
    

  </div>

</div>